# Terraform
/infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/terraform.tfvars
infrastructure/.terraform.lock.hcl

# Ansible
/configure_vm/*.retry
/configure_vm/.ansible/

*.tfstate
*.tfstate.*.terraform/
